mixin pagination({addClass, activePage, allPage})
    div(class = `pagination ${addClass}`)
        //- if activePage >= 4
        //-     button.pagination__btn.pagination__btn_next back

        //- if activePage == 1
        //-     button.pagination__btn.pagination__btn_active 1
        //- else   
        //-     button.pagination__btn 1
        //- if activePage < 4
        //-     - var i = 2;
        //-     while i < 4
        //-         if activePage == i
        //-             button.pagination__btn.pagination__btn_active #{i}
        //-         else 
        //-             button.pagination__btn #{i}
        //-         -i++;
        //-     button.pagination__btn ...
        //-     button.pagination__btn #{allPage}
        //-     button.pagination__btn.pagination__btn_next next
        //- if activePage >= 4 && activePage <= allPage - 3
        //-     button.pagination__btn ...
        //-     -var i = activePage - 1;
        //-     while i < activePage + 2
        //-         if activePage == i
        //-             button.pagination__btn.pagination__btn_active #{i}
        //-         else 
        //-             button.pagination__btn #{i}
        //-         -i++;
        //-     button.pagination__btn ...
        //-     button.pagination__btn #{allPage}
        //-     button.pagination__btn.pagination__btn_next next
        //- if activePage > allPage - 3
        //-     button.pagination__btn ...
        //-     - var i = activePage;
        //-     while i < allPage + 1
        //-         if activePage == i
        //-             button.pagination__btn.pagination__btn_active #{i}
        //-         else 
        //-             button.pagination__btn #{i}
        //-         -i++;
        
        