mixin radio({addClass, name, text, id})
    div(class = `radio ${addClass}`)
        .radio__box
            input.radio__input(type='radio' name=`${name}` id=`${id}`)
            label.radio__body(for=`${id}`)
        label.radio__text(for=`${id}`) #{text}
