//- typr = [full, void, unboard, with-arrow]
mixin btn({type, isClicked, text, addClass, url})
    case type
        when "with-arrow"
            if url
                button(class = `btn btn_${type} icon-arrow ${addClass}` onclick=`document.location='${url}'`) #{text}
            else 
                button(class = `btn btn_${type} icon-arrow ${addClass}`) #{text}
        when "void"
            if isClicked
                div(class=`btn__back ${addClass}`)
                    if url
                        button(class = `btn btn_${type}` onclick=`document.location='${url}'`) #{text}
                    else 
                        button(class = `btn btn_${type}`) #{text}
            else 
                .btn__back.btn__back-un
                    if url
                        button(class = `btn btn_${type} btn_${type}-un ${addClass}` onclick=`document.location='${url}'`) #{text} 
                    else 
                        button(class = `btn btn_${type} btn_${type}-un ${addClass}`) #{text} 
        default
            if isClicked
                if url
                    button(class = `btn btn_${type} ${addClass}` onclick=`document.location='${url}'`) #{text}
                else
                    button(class = `btn btn_${type} ${addClass}`) #{text}
            else 
                if url 
                    button(class = `btn btn_${type} btn_${type}-un ${addClass}` onclick=`document.location='${url}'`) #{text}
                else 
                    button(class = `btn btn_${type} btn_${type}-un ${addClass}`) #{text}