//- typr = [full, void, unboard, with-arrow]
mixin btn({type, isClicked, text, addClass})
    if type == "with-arrow"
        button(class = `btn btn_${type} icon-arrow ${addClass}`) #{text}
    else
        if isClicked
            button(class = `btn btn_${type} ${addClass}`) #{text}
        else 
            button(class = `btn btn_${type} btn_${type}-un ${addClass}`) #{text} 